{% load static %} <!--Génère l'url absolue des fichiers statiques-->
<!DOCTYPE html> 
<html>
	<head>
		<title>Cub-e  Connection</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="{% static 'connexion/CSS/indexConnexion.css' %}">

		<script src="{% static 'connexion/Javascript/indexConnexion.js' %}"></script>
		<script type="text/javascript">
			var received_data = "{{ data|safe }}";
			if(received_data != "")
				alert(received_data);
		</script>
	</head>
  	<body>	
		<a href="../statistics"><button class="aniBut" id="statistics">Statistics</button></a>
		<h1 id="connect_title">Welcome to Cub-e</h1>
		<div id="connect_div">
			<div class="connect_form">
				<h2>Connect you to join the game</h2>
				<form method="POST" action="/connection/"> <!--Action : url vers lequel les données doivent être envoyée-->
					{% csrf_token %} <!--protection contre certaines actions malveillantes-->
					<div class="div_form">
						{{formPlayer.as_p}} <!--recupere la variable form--> 
					</div>
					<div class="connect_valid">
						<button type="submit" id="signIn" class="aniBut buttonValid">Sign in</button>
					</div>
				</form>
			</div>
			<div class="connect_form">
				<h2>New player, register you</h2>
				<form method="POST" action="/connection/">
					{% csrf_token %} <!--protection contre certaines actions malveillantes-->
					<div class="div_form">
						{{formNewPlayer.as_p }}
					</div>
					<div class="connect_valid">
						<button id="signUp" type="submit" class="aniBut buttonValid">Sign up</button>
					</div>
				</form>
			</div>
			<div class="connect_form">
				<h2>Wanna play against an IA</h2>
				<form method="POST" action="/connection/">
					{% csrf_token %} <!--protection contre certaines actions malveillantes-->
					<div class="div_form">
						{{formIA.as_p}}
					</div>
					<div class="connect_valid">
						<button id="choose" type="submit" class="aniBut buttonValid">Choose</button>
					</div>
				</form>
			</div>
		</div>
  </body>
</html>