<!DOCTYPE html>
<html>
	<head>
		<title>Cub-e  Statistics</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="static/connexion/CSS/statistics.css">
		<script src="static/connexion/Javascript/statistics.js"></script>
		{{ nb_game_played|json_script:"nb_game_played" }}
    	{{ nb_Ia_Game|json_script:"nb_Ia_Game" }}
		{{ nb_player_game|json_script:"nb_player_game" }}
		{{ average_time|json_script:"average_time" }}
		{{ max_time|json_script:"max_time" }}
		{{ min_time|json_script:"min_time" }}
		{{ total_box_taken|json_script:"total_box_taken" }}
		{{ max_box_taken|json_script:"max_box_taken" }}
		{{ average_box_taken|json_script:"average_box_taken" }}
		<script>
			var nb_game_played = JSON.parse(document.getElementById('nb_game_played').textContent);
			var nb_Ia_Game = JSON.parse(document.getElementById('nb_Ia_Game').textContent);
			var nb_player_game = JSON.parse(document.getElementById('nb_player_game').textContent);
			var average_time = JSON.parse(document.getElementById('average_time').textContent);
			var max_time = JSON.parse(document.getElementById('max_time').textContent);
			var min_time = JSON.parse(document.getElementById('min_time').textContent);
			var total_box_taken = JSON.parse(document.getElementById('total_box_taken').textContent);
			var max_box_taken = JSON.parse(document.getElementById('max_box_taken').textContent);
			var average_box_taken = JSON.parse(document.getElementById('average_box_taken').textContent);
		</script
	</head>
	<body>
		<a href="../connection/"><button id="return">Return</button></a>
		<h1>Numbers don't lie</h1>
		<div class="contentPage">
			<div class="panelStat">
				<div class="infoStat">
					<h2>Games played</h2>
					<div id = "GamePlayed" class="values"></div>
				</div>
				<div class="infoStat">
					<h2>Player VS player games</h2>
					<div id = "PlayerGame" class="values"></div>
				</div>
				<div class="infoStat">
					<h2>Player vs AI games</h2>
					<div id = "IaGame" class="values"></div>
				</div>
			</div>
			<div class="espacement"></div>
			<div class="panelStat">
				<div class="infoStat">
					<h2>Average duration of a game</h2>
					<div id = "averageDuration" class="values"></div>
				</div>
				<div class="infoStat">
					<h2>The shortest game</h2>
					<div id = "minDuration" class="values"></div>
				</div>
				<div class="infoStat">
					<h2>The longest game</h2>
					<div id = "maxDuration" class="values"></div>
				</div>
			</div>
		</div>
		<div class="contentPage">
			<div id="panelLeaderBoard">
				<div id="LeaderBoard">
					<div id="resultLeaderBoard1">
						<h2 class="h2LeaderBoard">Top 3 players</h2>
						<div id="panelResultTop3">
							<div class="top3">
								<div class="playerTop3">Thomas</div>
								<div id="pile1"></div>
							</div>
							<div class="top3">
								<div class="playerTop3">Thomas</div>
								<div id="pile2"></div>
							</div>
							<div class="top3">
								<div class="playerTop3">Thomas</div>
								<div id="pile3"></div>
							</div>
						</div>
					</div>
					<div id="resultLeaderBoard2">
						<h2 class="h2LeaderBoard">Worst player</h2>
						<div class="panelResult">
							<div id="nameWorstPlayer">Thomas</div>
							<p id="sentenceWorstPlayer">Sorry, but you really need to be better...</p>
						</div>
					</div>
					<div id="resultLeaderBoard3">
						<h2 class="h2LeaderBoard">AI win %</h2>
						<div class="panelResult">
							<div class="percentWinAI">
								<div>Nitron</div>
								<div class="valueWinRate">100</div>
								<p>%</p>
							</div>
							<div class="percentWinAI">
								<div>Torton</div>
								<div class="valueWinRate">100</div>
								<p>%</p>
							</div>
							<div class="percentWinAI">
								<div>Vatron</div>
								<div class="valueWinRate">100</div>
								<p>%</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="espacement"></div>
			<div class="panelStat">
				<div class="infoStat">
					<h2>Total number of boxes taken</h2>
					<div id ="totalBox" class="values"></div>
				</div>
				<div class="infoStat">
					<h2>Maximum boxes taken at once</h2>
					<div id ="maxBox" class="values"></div>
				</div>
				<div class="infoStat">
					<h2>Average boxes taken at once</h2>
					<div id = "averageBox" class="values"></div>
				</div>
			</div>
		</div>
	</body>
</html>