{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Cube-e  Your profile</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'game/CSS/indexGame.css' %}">
    {{ player1|json_script:"player1" }}
    {{ player2|json_script:"player2" }}
    <script src="{% static 'game/CSS/index.css' %}"></script>
    <script>
      const player1 = JSON.parse(document.getElementById('player1').textContent);
      const player2 = JSON.parse(document.getElementById('player2').textContent);
    </script>
    <script src="{% static 'game/Javascript/indexGame.js' %}"></script>
  </head>
  <body>
    <a href="javascript:if(confirm('Would you really disconnect you?')) document.location.href='../connection/deconnection'"><button id="disconnection">Disconnection</button></a>
    <h1 id="profile_title">Welcome Back !</h1> 
    <form method="POST" action="/game/">
      <div id="connect_div"></div>
      {% csrf_token %}
      {{form}}
      <br>
    </form>
  </body>
</html>