{% load static %} 
{% csrf_token %}
<!DOCTYPE html> 
<html>
    <head>
        <title>Cub-e  Game</title>
        <link rel="stylesheet" type="text/css" href="{% static 'game/CSS/new_game.css' %}">
        {{game_state|json_script:"game_state"}}
        <script>var game_state = JSON.parse(document.getElementById('game_state').textContent);</script>
        <script src="{% static 'game/Javascript/move.js' %}"></script>
        <script src="{% static 'game/Javascript/board.js' %}"></script>
        <script src="{% static 'game/Javascript/new_game.js' %}"></script>
        <script>
            var pic1 = "{% static 'image/logoCub-e.png' %}";
            var pic2 = "{% static 'image/logoCub-e.png' %}";
        </script>
        <script type="text/javascript">
            jQuery(function(){
                    function _confirm()
                    {
                        return (confirm('Would you really remake a game?'));
                    }
                    $('a').click(_confirm);
            });
        </script>
    </head>
    <body>
        <div id="chrono">0:00:00</div>
        <button id="dark_mode">Dark mode</button>
        <a href="javascript:if(confirm('Would you really remake a game?')) document.location.href='../game'"><button id="newGame">New game</button></a>
        <a href="javascript:if(confirm('Would you really disconnect you?')) document.location.href='../connection/deconnection'"><button id="disconnection">Disconnection</button></a>
        
        <h1>Cub-e</h1>
        <div id="game_content">
            <div class="blackPanel">
                <div  class = "player_panel" id="panelPlayer1">
                    <h2>Player 1</h2>
                    <div class="div_informations">
                        <p class="titreSectionPanel">Boxes taken</p>
                    </div>
                    <div class="div_informations">
                        <p class="infoJoueur">1</p>
                    </div>
                    <div class="div_informations">
                        <p class="titreSectionPanel">Travel history</p>
                    </div>
                    <div>
                        <p class="infoJoueur" id="lastMove">De la case A1 vers la case A2</p>
                    </div>
                    <div class="button">   
                    </div>        
                </div>
            </div>
            <div id ="my_board"></div>
            <div class="blackPanel">
                <div  class = "player_panel" id="panelPlayer2">
                    <h2>Player 2</h2>
                    <div class="div_informations">
                        <p class="titreSectionPanel">Boxes taken</p>
                    </div>
                    <div class="div!informations">
                        <p class="infoJoueur">1</p>
                    </div>
                    <div class="div_informations">
                        <p class="titreSectionPanel">Travel history</p>
                    </div>
                    <div>
                        <p class="infoJoueur">De la case A1 vers la case A2</p>
                    </div>
                    <div class="button">   
                    </div>        
                </div>
            </div>
        </div>
    </body>
</html>